In [2]:
import streamlit as st
import numpy as np
import pandas as pd

/Users/moto/udemy/Streamlit_basic/venv/lib/python3.9/site-packages/pandas/compat/__init__.py:109: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
df2 = pd.DataFrame(
    np.random.rand(20, 3),
    columns=['a', 'b', 'c']
)
df2

           a         b         c
0   0.602259  0.715966  0.431216
1   0.264983  0.114822  0.337036
2   0.675788  0.785378  0.146632
3   0.216042  0.384004  0.654612
4   0.158837  0.860716  0.346751
5   0.940478  0.274611  0.356874
6   0.397278  0.101842  0.442420
7   0.797614  0.835325  0.382451
8   0.516500  0.764240  0.355654
9   0.385416  0.739691  0.398892
10  0.075474  0.208959  0.239174
11  0.144669  0.431885  0.675699
12  0.381994  0.911328  0.501109
13  0.458399  0.671798  0.963669
14  0.817951  0.128072  0.470895
15  0.556597  0.691963  0.456823
16  0.627975  0.760647  0.745158
17  0.802747  0.148970  0.770332
18  0.007626  0.593399  0.641862
19  0.873545  0.984911  0.501127

In [7]:
df3 = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df3

          lat         lon
0   35.698844  139.702541
1   35.709893  139.706259
2   35.695173  139.704036
3   35.706723  139.702424
4   35.706584  139.719391
..        ...         ...
95  35.692426  139.708838
96  35.701611  139.704930
97  35.703245  139.700264
98  35.694756  139.719683
99  35.702967  139.719962

[100 rows x 2 columns]

In [9]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
import time

In [12]:
for i in range(100):
    print(i)
    time.sleep(0.1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99